<% layout( 'layout' ) -%>
<div class="wrapper spotlight style3">
    <div class="inner" style="display:block; text-align:start">
        <section>
            <h1 class="major">公告管理</h1>
            <!--<a href="/annnew" class="button"><img src="/icons/add-tool.svg" style="border-bottom: none" /></a>-->
            <a href="/annnew" style="border-bottom: none"><input class="button" type="image" src="/icons/add-tool.svg" name="add" id="add" style="padding:10px" /></a>
            <!--<button type="submit"><img src="/icons/add-tool.svg" style="border-bottom: none" /><br/>Add</button>-->
            <!--<div class="table-wrapper">-->
            <div>
                <table>
                    <thead>
                        <tr>
                            <td>標題</td>
                            <td>日期</td>
                            <td>發佈者</td>
                            <td>觀看數</td>
                            <td>編輯</td>
                            <td>刪除</td>
                        </tr>
                    </thead>
                    <tbody>
                        <% data.forEach( function(dt) {%>
                        <tr>
                            <td><a herf="/content/<%= dt._id %>"><%= dt.title %></a></td>
                            <td><%= moment(dt.update).format('YYYY-MM-DD HH:mm:ss') %></td>
                            <td><%= dt.author %></td>
                            <td><%= dt.views %></td>
                            <td><a herf="/annedit/<%= dt._id %>" style="border-bottom: none"><input class="button" type="image" src="/icons/note-interface-symbol.svg" name="edit" id="edit" style="padding:10px" /></a></td>
                            <td><a herf="/anndelete/<%= dt._id %>" style="border-bottom: none"><input class="button" type="image" src="/icons/rubbish-bin.svg" name="del" id="del" style="padding:10px" /></a></td>
                        </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</div>