<% layout( 'layout' ) -%>
<section class="wrapper spotlight style2">
    <div class="inner" style="display:block; text-align:start">
        <h1 class="major" style="font-size:24px"><%= ann.title %></h1>
        <ul class="infolist">
            <li>發布者：<% if(ann.author){ %><%= ann.author.nick ? ann.author.nick : ann.author.name %><% } %></li>
            <li>更新日期：<%= moment(ann.update).format('YYYY-MM-DD HH:mm:ss') %></li>
            <li>建立日期：<%= moment(ann.create).format('YYYY-MM-DD HH:mm:ss') %></li>
            <li>觀看數：<%= ann.views %></li>
        </ul>
        <div class="uniform">
            <% if(ann.istextcontent == true) { %>
                <% ann.content.split('\n').forEach(function(line) { %>
                    <p class="text"><%= line.replace(/\r/g, '') %></p>
                <% }); %>
            <% } else { %>
                <%- ann.content %>
            <% } %>
        </div>
    </div>
</section>