<!DOCTYPE HTML>
<!--
    Solid State by HTML5 UP
    html5up.net | @ajlkn
    Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
    <title><%= title %></title>
    <style type="text/css" media="screen">
        #editor { 
            position: relative;
            height: 500px;
        }
    </style>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--<script src="/js/ModalBox.js"></script>-->
    <!--[if lte IE 8]><script src="js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="/css/ModalBox.css" />
    <link rel="stylesheet" href="/css/Custom.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <!--[if lte IE 9]><link rel="stylesheet" href="css/ie9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="css/ie8.css" /><![endif]-->
</head>
<body>

    <!-- Page Wrapper -->
    <div id="page-wrapper">

        <!-- Header -->
        <header id="header">
            <h1><a href="/">INFORAnnSystem</a></h1>
            <nav>
                <a href="#menu">Menu</a>
            </nav>
        </header>

        <!-- Menu -->
        <% if( menu == 0 ) { %>
            <%- partial( 'menu' ) %>
        <% } else if( menu == 1 || menu == 2 ) { %>
            <%- partial( 'admin1menu' ) %>
        <% } else if( menu == 3 || menu >= 4 ) { %>
            <%- partial( 'admin3menu' ) %>
        <% } else { %>
            <%- partial( 'menu' ) %>
        <% } %>
        <!-- Banner -->

        <!--<section id="banner">
            <div class="inner">
                <div class="logo"><span class="icon fa-diamond"></span></div>
                <h2>INFOR</h2>
            </div>
        </section>-->
        <%- partial( 'ModalBox' ) %>

        <!-- Wrapper -->
        <section id="wrapper">
            <%- body %>
        </section>

        <!-- Footer -->
        <section id="footer">
            <div class="inner">
                <ul class="copyright">
                    <li>INFOR Ann System v0.8 Beta</li>
                    <li>Develop: 29th學術 陳少甫</li>
                    <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                    <li><span class="wysiwyg-font-size-large">Icon made by <a title="Freepik" href="http://www.freepik.com">Freepik</a> from <a title="Flaticon" href="http://www.flaticon.com">www.flaticon.com</a>&nbsp;</span></li>
                    <li>&copy; INFOR All rights reserved.</li>
                </ul>
            </div>
        </section>
    </div>

    <!-- Scripts -->
    <script src="/js/skel.min.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery.scrollex.min.js"></script>
    <script src="/js/util.js"></script>
    <!--[if lte IE 8]><script src="js/ie/respond.min.js"></script><![endif]-->
    <script src="/js/main.js"></script>

</body>
</html>
