<% layout( 'layout' ) -%>
<div class="wrapper">
    <div class="inner">
        <section>
            <h1 class="major">使用者管理</h1>
            <a href="/admin/usrnew" class="noborder"><input class="button icobtn" type="image" src="/icons/add-tool.svg" /></a>
            <div class="table-wrapper">
                <table>
                    <thead>
                        <tr>
                            <th class="thmin-m">使用者帳號</th>
                            <th class="thmin-x">暱稱</th>
                            <th>權限</th>
                            <th>啟用</th>
                            <th class="thmin-x">上次登入</th>
                            <th>設定密碼</th>
                            <th>編輯</th>
                            <th>刪除</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% data.forEach( function(dt) { %>
                        <tr>
                            <td><%= dt.name %></td>
                            <td><%= dt.nick %></td>
                            <td><%= dt.level %></td>
                            <% if(dt.enable == true){ %>
                                <td style="color:lightgreen">是</td>
                            <% }else{ %>
                                <td style="color:red">否</td>
                            <% } %>
                            <td><%= moment(dt.LastLogin).format('YYYY-MM-DD HH:mm:ss') %></td>
                            <td><a href="/admin/usrpwd/<%= dt._id %>" class="noborder"><input class="button icobtn" type="image" src="/icons/key.svg" name="chpwd" id="chpwd" /></a></td>
                            <td><a href="/admin/usredit/<%= dt._id %>" class="noborder"><input class="button icobtn" type="image" src="/icons/note-interface-symbol.svg" name="edit" id="edit" /></a></td>
                            <td><% if(dt.system == false){ %><a href="/admin/usrdel/<%= dt._id %>" onclick="return confirm('你確定要刪除此使用者嗎？')" class="noborder"><input class="button icobtn" type="image" src="/icons/rubbish-bin.svg" name="del" id="del" /></a><% } %></td>
                        </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</div>